ul.collapse {
    margin: 3% 10%;
    padding-left: 0;
}
ul.collapse li {
    list-style-type: none;
    background: #ececec;
    border-radius: 5px;
}
ul.collapse li:not(li:last-of-type) {
    margin-bottom: 3%;
}
ul.collapse li>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FF6060;
    border-radius: 5px;
    cursor: pointer;
}
ul.collapse h2 {
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
}
ul.collapse img {
    width: 25px;
    height: 100%;
    margin-right: 15px;
}
ul.collapse ul {
    padding: 10px 20px;
}
ul.collapse ul li {
    margin-bottom: 0 !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FF6060;
}
ul.collapse p.content {
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FF6060;
    display: none;
}
ul.collapse p.show {
    display: block;
}
ul.collapse ul.content {
    padding: 30px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FF6060;
    display: none;
}
ul.collapse ul.show {
    display: block;
}
ul.collapse_logement {
    margin: 10px 0;
    padding-left: 0;
}
ul.collapse_logement li {
    position: relative;
}
div.collapseClose {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
div.collapseClose.zindex {
    height: auto;
    z-index: 1;
}
ul.collapse_logement ul.content{
    min-height: 250px;
}
@media (max-width: 980px) {
    ul.collapse p.content {
        font-size: 18px;
    }
    ul.collapse h2 {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    ul.collapse_logement ul.content{
        min-height: 100%;
    }
    .collapse {
        margin: 30px !important;
    }
}
@media (max-width: 479px) {
    .collapse {
        margin: 30px 10px !important;
    }
    ul.collapse h2 {
        margin-bottom: 15px !important;
        font-size: 16px !important;
    }
    ul.collapse li {
        margin-bottom: 20px !important;
    }
    ul.collapse p.content {
        margin-top: 10px !important;
        font-size: 14px;
        line-height: 17px;
    }
    ul.collapse img {
        width: 15px;
    }
}