.body_logement {
    margin: 100px;
}
.galerie {
    display: flex;
    flex-wrap: wrap;
}
.galerie img {
    width: calc(100% / 4);
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
}
.presentation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.presentation img {
    width: 64px;
    height: 64px;
    border-radius: 50px;
}
.presentation .portrait {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #FF6060;
}
.presentation .portrait {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.presentation .portrait span {
    display: flex;
    align-items: center;
    width: 50%;
    margin-right: 10px;
    text-align: right;
}
.presentation h1 {
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
}
.presentation .title span {
    margin-bottom: 30px;
    font-size: 18px;
    color: #FF6060;
}
.tag_and_start {
    display: flex;
    justify-content: space-between;
}
.tag_and_start ul {
    display: flex;
    padding-left: 0;
}
.tag_and_start ul li{
    list-style-type: none;
}
.list_tags li {
    display: flex;
    align-items: center;
    height: 85%;
    padding: 0 30px;
    margin-right: 10px;
    background: #FF6060;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.list_start svg {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.les_collapses {
    display: flex;
    gap: 70px;
}
.les_collapses .collapse_desc_equip, .les_collapses .collapse_desc_description {
    width: 50%;
}